# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.27-01-beatsaber.iml
# Datasource local storage ignored files
/../../../../../../:\MeetinVR\27-01-beatsaber\.idea\.idea.27-01-beatsaber\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
